<h2>Home page</h2>
<hr>
<h3>Bienvenido {{nombre}}</h3>


<p>Lorem ipsum dolor <span>{{importe}}</span> sit amet consectetur adipisicing elit. Veritatis quasi quibusdam itaque, delectus dolorem exercitationem recusandae tenetur magnam optio eligendi consectetur incidunt minima quaerat. Eum explicabo esse quam impedit quia.</p>



<script src="/js/home.js"></script>